* {
    margin: 0px;
    padding: 0px;
    color: white;

}

body {
    background-color: #3c3b3b;

}

section {
    height: 100vh;
    color: white;
    align-items: center;
    text-align: center;

}

section h1 {
    /* padding-top: 0px; */
    margin-top: 2rem;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    animation-name: live;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes live {
    0% {
        transform: scale(1);
        transition-timing-function: linear;
    }

    25% {
        transform: scale(1.1);
        transition-timing-function: linear;
    }

    50% {
        transform: scale(1.2);
        transition-timing-function: linear;
    }

    75% {
        transform: scale(1.3);
        transition-timing-function: linear;
    }

    100% {
        transform: scale(1.4);
        transition-timing-function: linear;
    }

}

section h2 {
    margin: 15px;

}

ul {
    margin-top: 30px;
    align-items: center;
    text-align: center;
    display: flex;
}

.card {
    position: relative;
    left: 18%;
    height: 55vh;
    width: 55%;
    /* margin-left: 22%; */
    list-style: none;

}

.card__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}

.card__inner {
    height: 150px;
    width: 220px;
    background-color: aqua;
    border: 2px solid yellow;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    cursor: pointer;

}

.card_name {
    padding-top: 30px;
    /* position: relative; */
    /* top: 10%; */
    font-size: x-large;
    font-family: initial;
    font-style: inherit;
    font-weight: 700;
    color: white;
    cursor: pointer;

}

.card_name span {
    font-size: small;
    margin-right: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    color: white;

}

.card_total {
    margin-top: 30px;
    font-size: x-large;
    font-family: initial;
    font-style: inherit;
    font-weight: 900;

}

.card__inner:hover {
    box-shadow: 5px 5px 0 0 rgba(89, 89, 89, 0.765);

    transform: scale(1.05, 1.05);

}

.card__inner1 {
    background-color: rgb(75, 75, 200);

}

.card__inner2 {
    background-color: rgb(40, 168, 40);
}

.card__inner3 {
    background-color: rgb(196, 196, 66);
}

.card__inner4 {
    background-color: rgb(245, 78, 17);
}

.card__inner5 {
    background-color: rgb(24, 24, 155);
}

.card__inner6 {
    background-color: rgb(167, 163, 24);
}